daily-operations-risk-monitor.json
{
  "name": "Daily Operations Risk Monitor",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "bf3bef4f-bb4d-4a84-8ef8-6fa67c3cfc7b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://api.met.no/weatherapi/locationforecast/2.0/compact?lat=48.8534&lon=2.3488",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "DailyOperationsRiskMonitor/1.0 recipient@example.com"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "1b6da938-c873-4190-b494-25ec809630a9",
      "name": "HTTP Request",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "notesInFlow": false
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 19,
              "triggerAtMinute": 59
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        192
      ],
      "id": "9112be33-5fa2-486d-9545-12a40eb82d1a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "91e64eda-aefb-4378-8995-feffda4f8586",
              "name": "n8n_risk_level",
              "value": "NORMAL",
              "type": "string"
            },
            {
              "id": "1afd2e77-91ed-43c4-a411-7179b8e3cd2b",
              "name": "n8n_risk_reason",
              "value": "Climat normal",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        192
      ],
      "id": "87fa7958-ef99-4ccc-bef0-5d5c10951835",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1fafaa95-8833-4b09-bb23-14959d768c9d",
              "name": "n8n_risk_level",
              "value": "MEDIUM",
              "type": "string"
            },
            {
              "id": "ccc124b4-936a-49c4-afa5-4d46e1fb6123",
              "name": "n8n_risk_reason",
              "value": "Temperature or Wind elevated",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        0
      ],
      "id": "225fd797-0388-4cf1-b72d-b4b1cdaa6af9",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4a37ad96-5d4f-43fd-afe3-a63dd03c7adb",
              "name": "n8n_risk_level",
              "value": "HIGH",
              "type": "string"
            },
            {
              "id": "4b6f2beb-5ed2-43f0-a98c-824c6e26247b",
              "name": "n8n_risk_reason",
              "value": "High Temperature or Wind - Danger",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        -192
      ],
      "id": "c38d2848-1927-4c25-97e8-fd3ac4020706",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "weather_observations",
          "mode": "list",
          "cachedResultName": "weather_observations"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "temperature": "={{ $json.temperature }}",
            "wind_speed": "={{ $json.wind_speed }}",
            "forecast_time": "={{ $json.forecast_time }}",
            "city": "={{ $json.city }}",
            "n8n_risk_level": "={{ $json.n8n_risk_level }}",
            "n8n_risk_reason": "={{ $json.n8n_risk_reason }}"
          },
          "matchingColumns": [
            "city",
            "forecast_time"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "forecast_time",
              "displayName": "forecast_time",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "temperature",
              "displayName": "temperature",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "wind_speed",
              "displayName": "wind_speed",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "sql_risk_level",
              "displayName": "sql_risk_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "sql_risk_reason",
              "displayName": "sql_risk_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "n8n_risk_level",
              "displayName": "n8n_risk_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "n8n_risk_reason",
              "displayName": "n8n_risk_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1472,
        0
      ],
      "id": "411c3da2-7aa2-4293-8c89-938f7896c612",
      "name": "Store Weather Observation"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "=Fais moi un résumé d'un paragraphe énoncant l'état de la météo, et donnant des recommandations, à partir de ces infos: \nHeure de prévision : {{ $json.forecast_time }}\nVille : {{ $json.city }}\nSa témpérature prévue : {{ $json.temperature }} en dégré celsius\nLa vitesse du vent prévue : {{ $json.wind_speed }} en m/s\nLe niveau de risque que j'ai défini : {{ $json.n8n_risk_level }}\nLa raison indiquée aux utilisateurs : {{ $json.n8n_risk_reason }}"
            }
          ]
        },
        "simplify": false,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        1680,
        0
      ],
      "id": "aa08c67e-0e7f-45bd-9318-b77c16fccaca",
      "name": "Generate Weather Summary",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "76de6f05-d3c9-4de0-9b3d-7d78929fb681",
              "name": "ai_summary",
              "value": "={{ $json.candidates[0].content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2032,
        0
      ],
      "id": "6cd85bfd-e850-42e5-9398-2535f96ee3e9",
      "name": "Extract AI Summary"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "weather_observations",
          "mode": "list",
          "cachedResultName": "weather_observations"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Store Weather Observation').item.json.id }}",
            "ai_summary": "={{ $json.ai_summary }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "forecast_time",
              "displayName": "forecast_time",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "temperature",
              "displayName": "temperature",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "wind_speed",
              "displayName": "wind_speed",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sql_risk_level",
              "displayName": "sql_risk_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sql_risk_reason",
              "displayName": "sql_risk_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "n8n_risk_level",
              "displayName": "n8n_risk_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "n8n_risk_reason",
              "displayName": "n8n_risk_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ai_summary",
              "displayName": "ai_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2240,
        0
      ],
      "id": "1860ede3-3543-44fa-8672-9b23668a979d",
      "name": "Store AI Summary"
    },
    {
      "parameters": {
        "fieldToSplitOut": "properties.timeseries",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "id": "ff51e741-000a-4575-9a74-317e6a447fd8",
      "name": "Split Hourly Forecasts (Split Out)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d60bfc36-947d-42e4-8e3c-81943a1bd27e",
              "leftValue": "={{ $json.time }}",
              "rightValue": "={{$now}}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        560,
        0
      ],
      "id": "b307e514-5f97-481f-a5bd-792b9622e120",
      "name": "Keep Future Forecasts (Filter)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        736,
        0
      ],
      "id": "35c129e1-f8f6-432a-ad19-14b0f8fdbe2f",
      "name": "Select Next Forecast (Limit)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f6ceaa86-3e1f-4874-b9ff-74923e0d922b",
              "name": "city",
              "value": "Paris",
              "type": "string"
            },
            {
              "id": "eb5c7fd0-1355-4c20-a5a6-78cd9c066520",
              "name": "forecast_time",
              "value": "={{ $json.time }}",
              "type": "string"
            },
            {
              "id": "17ee8499-5c14-4c03-803a-bd3e671cd32c",
              "name": "temperature",
              "value": "={{ $json.data.instant.details.air_temperature }}",
              "type": "number"
            },
            {
              "id": "f377920f-cf94-4752-b676-3821d126aae4",
              "name": "wind_speed",
              "value": "={{ $json.data.instant.details.wind_speed }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        0
      ],
      "id": "8dda738a-fe30-4d34-9af5-36504f827836",
      "name": "Prepare Weather Data (Edit Fields)"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.temperature >= 35 || $json.wind_speed >= 15 }}",
                    "rightValue": 35,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "b40ad768-ec0b-4773-966d-8b8cfee318b4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HIGH"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0bdd1c13-2873-4253-8f5f-df32ecc2992c",
                    "leftValue": "={{ $json.temperature >= 30 || $json.wind_speed >= 10 }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "MEDIUM"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1088,
        -16
      ],
      "id": "b0942928-5ced-4843-a914-25caf70cd496",
      "name": "Classify Weather Risk (Switch)"
    },
    {
      "parameters": {
        "fromEmail": "sender@example.com",
        "toEmail": "recipient@example.com",
        "subject": "Weather conditions of the day",
        "emailFormat": "text",
        "text": "={{ $json.ai_summary }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2448,
        0
      ],
      "id": "4c2f083b-b053-4f03-bdab-ba116faff979",
      "name": "Classify Weather Risk (Send an Email)",
      "webhookId": "64c2b61e-7678-4b24-865a-aaba63c78c22",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "weather_observations",
          "mode": "list",
          "cachedResultName": "weather_observations"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Store AI Summary').item.json.id }}",
            "email_sent_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "forecast_time",
              "displayName": "forecast_time",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "temperature",
              "displayName": "temperature",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "wind_speed",
              "displayName": "wind_speed",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sql_risk_level",
              "displayName": "sql_risk_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sql_risk_reason",
              "displayName": "sql_risk_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "n8n_risk_level",
              "displayName": "n8n_risk_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "n8n_risk_reason",
              "displayName": "n8n_risk_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ai_summary",
              "displayName": "ai_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_sent_at",
              "displayName": "email_sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2656,
        0
      ],
      "id": "15977eed-bad5-403e-a5bd-8232f511f190",
      "name": "Mark Email Sent (Update rows in a table1)"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Hourly Forecasts (Split Out)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Store Weather Observation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Store Weather Observation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Store Weather Observation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Weather Observation": {
      "main": [
        [
          {
            "node": "Generate Weather Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Weather Summary": {
      "main": [
        [
          {
            "node": "Extract AI Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract AI Summary": {
      "main": [
        [
          {
            "node": "Store AI Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store AI Summary": {
      "main": [
        [
          {
            "node": "Classify Weather Risk (Send an Email)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Hourly Forecasts (Split Out)": {
      "main": [
        [
          {
            "node": "Keep Future Forecasts (Filter)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep Future Forecasts (Filter)": {
      "main": [
        [
          {
            "node": "Select Next Forecast (Limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Next Forecast (Limit)": {
      "main": [
        [
          {
            "node": "Prepare Weather Data (Edit Fields)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Weather Data (Edit Fields)": {
      "main": [
        [
          {
            "node": "Classify Weather Risk (Switch)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Weather Risk (Switch)": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Weather Risk (Send an Email)": {
      "main": [
        [
          {
            "node": "Mark Email Sent (Update rows in a table1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Paris",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "nodeGroups": [],
  "tags": []
}